
  .p-error {
    color: red;
    font-size: 0.8rem;
  }  
  .error-message {
    color: red;
    font-size: 0.75rem;
  }
  
  .text-danger {
    color: red;
  }
  
  .p-inputtext.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .p-inputtext.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .fade-out {
    opacity: 0.5; /* Reduced opacity to visually fade out */
    pointer-events: none; /* Disable pointer events on faded button */
  }



  /*passwrd inpiut*/

  .password-input {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggle-password i {
    font-size: 1rem;
    color:black
  }
  
  /* Optional: Style for eye-off icon */
  .toggle-password i.pi-eye-off:before {
    content: "\f070"; /* Unicode for 'eye-slash' icon */
  }
  

  
 
  