.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .emoji {
    font-size: 5rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  
  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.25rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  